{# Macros #}
{%- import "macros/pollCard.html" as pc -%}
{%- import "macros/hero.html" as h -%}
{%- import "macros/admin-tab.html" as tab -%}
{# ----- #}

{%- include "head.njk" -%}

{%- if isAdmin -%}

  {{ h.hero(title, subtitle) }}

  <section class="section" style="padding-top: 1.5rem;">
    {%- block tabs -%}
      {{ tab.adminTab(-1) }}
    {%- endblock -%}
    {%- block content -%}
      Currently Empty. Click a tab above.
    {%- endblock -%}
  </section>

  <script>
    {%- include "./js/element.js" -%}
  </script>

{%- else -%}

  <div style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
    <h2 class="title">Not Authorized</h2>
  </div>

{%- endif -%}

{%- include "footer.njk" -%}