{% extends "admin.njk" %}

{% block tabs %}
  {{ tab.adminTab(2) }}
{% endblock %}

{% block content %}
  <div id="poll_list_container" style="min-height: calc(100vh - 520px);">
    {% for poll in polls %}
      {{ pc.pollCard(poll, isEditing=1) }}
    {% else %}
        😮 Empty. Once a poll has been closed it'll appear here!
      {% endfor %}
  </div>

  <script>
    window.onload = function () {
      var pollStartDOMList = document.querySelectorAll(".poll__start");

      function getConfirmation() {
        var retVal = confirm("Are you sure you want to restore this poll?");

        return Promise.resolve(retVal);
      }

      if (pollStartDOMList) {
        for (var i = 0; i < pollStartDOMList.length; i++) {
          pollStartDOMList[i].addEventListener("click", function (event) {
            event.preventDefault();

            var pollId = event.currentTarget.dataset.pollid;

            getConfirmation().then(isOk => {
              if (isOk) {
                fetch("/api/polls/" + pollId + "/open", {method: "PUT"})
                  .then(response => {
                    if (response.ok) {
                      return response.json();
                    }

                    return response
                      .json()
                      .then(Promise.reject);
                  })
                  .then(result => {
                    window
                      .location
                      .reload();
                  })
                  .catch(error => {
                    alert(error.message);
                  });
              }
            })
          });
        }
      }
    };
  </script>

{% endblock %}