{# Macros #}
{% macro pollCard(poll) %}
  <div class="box">
    <div class="media-content">
      <div class="content	is-clearfix">
        <div class="columns">
          <h2 class="title column is-four-fifths">{{ poll.question }}</h2>

          <a
            href={{"/polls/" + poll.id}} 
            style="align-self: center;text-align: right;" 
            class="column">
            Share
          </a>
        </div>

        {% for option in poll.options %}
          <div style="margin-top: 15px; display: flex;">
            <div style="display: flex; flex: 1;">
              {% if not poll.votedOption %}
                <input type="radio" data-optionid={{option.id}} id={{option.value + poll.id}} name={{poll.id}} />
                <label class="label" for={{option.value + poll.id}} style="cursor: pointer; display: inline-block; margin-left: 5px;">{{option.value}}</label>
              {% else %}
                {% if poll.votedOption == option.id %}
                  <strong>{{option.value}}</strong>
                {% else %}
                  {{option.value}}
                {% endif %}
              {% endif %}
            </div>

            <div style="display: flex; flex: 2;">
              <span style="margin-right: 5px;">{{option.totalVotes}}/{{poll.totalVotes}}</span>
              <progress class="progress" value={{option.totalVotes}} max={{poll.totalVotes}} />
            </div>
          </div>
        {% else %}
            No questions for this poll
        {% endfor %}

{% if not poll.votedOption %}
        <button
          class="button is-primary is-pulled-right is-medium submit__btn"
          data-pollid={{poll.id}}
        >
          Submit
        </button>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}
{# ----- #}

{% include "head.njk" %}

{% if not shouldHideHero %}
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Active Polls
      </h1>

      <h2 class="subtitle">
        Polls in progress.
      </h2>
    </div>
  </div>
</section>
{% endif %}

<section class="section" style="min-height: calc(100vh - 381px);">
  <div class="container">
    <div id="poll_list_container">
      {% for poll in polls %}
        {{ pollCard(poll) }}
      {% else %}
        😮 Empty. Once a poll is created it'll appear here!
      {% endfor %}
    </div>
  </div>
</section>

<script>
  {% include "./js/element.js" %}
</script>

<script>
  document.querySelector(".submit__btn").addEventListener("click", function(event) {
    var target = event && event.currentTarget;

    if (!target) {
      return;
    }

    target.classList.add("is-loading");
    target.disabled = true;

    var checkedOption = target.parentNode.querySelector("input[type=radio]:checked");
    var pollId = target.dataset.pollid;
    var optionId = checkedOption.dataset.optionid;

    if (!pollId || !optionId) {
      alert("Missing an option for the submitted poll.");
      return;
    }

    submitPollOption(pollId, optionId)
      .then(response => {
        window.location.reload();

        return;
      })
      .catch(error => {
          target.classList.remove("is-loading");
          target.disabled = false;
      });
  });

  function submitPollOption(pollId, optionId) {
    return fetch("/api/polls/" + pollId + "/options/" + optionId, {
      method: "PUT"
    })
      .then(p => {
        if (p.ok) {
          return p.json();
        }

        return p.json().then(error => Promise.reject(error));
      })
      .catch(error => {
        alert(error.message);
      });
  }
</script>

{% include "footer.njk" %}
