{% include "head.html" %}

<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Active Polls
      </h1>

      <h2 class="subtitle">
        These are the active polls.
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div id="poll_list_container"></div>
  </div>
</section>

<template id="mob__card">
  <div class="box">
      <div class="media-content">
        <div class="content">
        </div>
      </div>
    </article>
  </div>
</template>

<script>
  window.onload = function() {
    var mobCardTemplate = document.querySelector('#mob__card');

    var pollListContainer = document.querySelector("#poll_list_container");

    function fetchActivePolls() {
      return fetch("/api/polls", { method: "GET" })
        .then(p => {
          if (p.ok) {
            return p.json();
          }

          return Promise.reject(p);
        })
        .then(p => {
          pollListContainer.innerHTML = "";

          p.forEach(poll => {
            var clone = document.importNode(mobCardTemplate.content, true);
            
            var header = document.createElement("strong");
            header.innerHTML = poll.question;

            var content = clone.querySelector(".content");

            content.appendChild(header);

            const totalVoteCount = poll.options.reduce((accu, current) => accu + current.totalVotes, 0);

            poll.options.forEach(option => {
              var wrapper = document.createElement("div");
              wrapper.style.marginTop = "10px";
              wrapper.innerHTML = option.value;

              var progress = document.createElement("progress");
              progress.classList.add("progress");
              progress.value = option.totalVotes;
              progress.max = totalVoteCount || 1;

              wrapper.appendChild(progress);

              content.appendChild(wrapper);
            });

            pollListContainer.append(clone);
          });
        });
    }

    fetchActivePolls();
  };
</script>

{% include "footer.html" %}
