{% include "head.html" %}

<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Active Polls
      </h1>

      <h2 class="subtitle">
        Polls in progress.
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div id="poll_list_container"></div>
  </div>
</section>

<template id="mob__card">
  <div class="box">
    <div class="media-content">
      <div class="content	is-clearfix"></div>
    </div>
  </div>
</template>

<script>
  {% include "./js/element.js" %}
</script>

<script>
  // --- Components ---

  function SubmitPollButton(pollId) {
    function resetLoading(elem) {
      elem.element.classList.remove("is-loading");
      elem.element.disabled = false;
      elem.refresh();
    }

    return new Element("button", {
      class: "button is-primary is-pulled-right is-medium",
      style: {
        marginTop: "16px"
      },
      innerHTML: "Submit"
    }).addEvent("click", function(elem) {
      elem.element.classList.add("is-loading");
      elem.element.disabled = true;
      elem.refresh();

      var selectedPoll = document.querySelector(
        "div[data-poll='" + pollId + "']"
      );
      if (!selectedPoll) {
        resetLoading(elem);
        alert("Could not find poll.");

        return;
      }

      var selectedOption = selectedPoll.querySelector(
        "input[type=radio]:checked"
      );

      if (!selectedOption) {
        resetLoading(elem);
        alert("Missing selection for this poll.");

        return;
      }

      submitPollOption(selectedOption.dataset.option)
        .then(response => {
          fetchActivePolls();

          return;
        })
        .catch(error => {
          alert(error.toString());

          resetLoading(elem);
        });
    });
  }

  function PollCard(poll) {
    var clone = document.importNode(
      document.querySelector("#mob__card").content,
      true
    );

    var header = new Element("h2", {
      innerHTML: poll.question,
      class: "title"
    });

    var content = clone.querySelector(".content");
    content.dataset.poll = poll.id;

    header.renderTo(content);

    const totalVoteCount = poll.options.reduce(
      (accu, current) => accu + current.totalVotes,
      0
    );

    poll.options.forEach(option => {
      var wrapper = new Element(
        "div",
        {
          style: { marginTop: "12px", display: "flex" }
        },
        [
          new Element(
            "div",
            {
              style: { display: "flex", flex: 1 }
            },
            [
              new Element("input", {
                type: "radio",
                id: option.value + poll.id.toString(),
                name: poll.id.toString(),
                "data-option": option.id,
                style: {
                  marginRight: "5px",
                  cursor: "pointer"
                }
              }),
              new Element("label", {
                innerHTML: option.value,
                for: option.value + poll.id.toString(),
                style: {
                  cursor: "pointer"
                }
              })
            ]
          ),
          new Element("div", { style: { display: "flex", flex: 2 } }, [
            new Element("span", {
              innerHTML: option.totalVotes + "/" + totalVoteCount,
              style: { marginRight: "10px" }
            }),
            new Element("progress", {
              class: "progress",
              value: option.totalVotes,
              max: totalVoteCount || 1
            })
          ])
        ]
      );

      wrapper.renderTo(content);
    });

    var submitButton = SubmitPollButton(poll.id);
    submitButton.renderTo(content);

    return clone;
  }
</script>

<script>
  // --- Actions ---

  var pollListContainer = document.querySelector("#poll_list_container");

  function fetchActivePolls() {
    return fetch("/api/polls", { method: "GET" })
      .then(p => {
        if (p.ok) {
          return p.json();
        }

        return Promise.reject(p);
      })
      .then(p => {
        pollListContainer.innerHTML = "";

        p.forEach(poll => {
          pollListContainer.append(PollCard(poll));
        });
      });
  }

  function submitPollOption(optionId) {
    return fetch("/api/options/" + optionId, { method: "PUT" })
      .then(p => {
        if (p.ok) {
          return p.json();
        }

        return p.json().then(error => Promise.reject(error));
      })
      .catch(error => {
        alert(error.message);
      });
  }

  window.onload = function() {
    fetchActivePolls();
  };
</script>

{% include "footer.html" %}
