{% macro adminTab(activeIndex = 0) %}
  {% set options = [
    {
      name: "Create Poll",
      href: "/admin/polls/create"
    }, {
      name: "View Active Polls",
      href: "/admin/polls/active"
    }, {
      name: "View Closed Polls",
      href: "/admin/polls/closed"
    }
  ] %}

  <div class="tabs">
    <ul>
      {% for option in options %}
        <li class={% if activeIndex == loop.index0 %}"is-active"{% else %}""{% endif %}>
          <a href={{option.href}}>{{option.name}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}